<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhargav.paypes">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main7Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main8Activity" />
        <activity android:name=".BarcodeCaptureActivity" />
        <activity android:name=".Main4Activity" />
        <activity
            android:name=".Main9Activity"
            android:label="@string/title_activity_main9"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_V6mg0X7wDlQYWp" />

        <activity android:name=".Main10Activity" />
        <activity android:name=".Main11Activity" />
        <activity android:name=".Main12Activity" />
        <activity android:name=".Main13Activity" />
        <activity android:name=".Main14Activity" />
        <activity android:name=".Main15Activity" />
        <activity android:name=".Main16Activity" />
        <activity android:name=".Main17Activity" />
        <activity android:name=".Main18Activity"></activity>
        <service android:name=".FirebaseMessengingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>